<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="App Test Suite">
            <directory>./tests/TestCase</directory>
            <directory>./plugins/Passbolt/AccountSettings/tests/TestCase</directory>
            <directory>./plugins/Passbolt/AuditLog/tests/TestCase</directory>
            <directory>./plugins/Passbolt/CloudSubscription/tests/TestCase</directory>
            <directory>./plugins/Passbolt/EmailDigest/tests/TestCase</directory>
            <directory>./plugins/Passbolt/EmailNotificationSettings/tests/TestCase</directory>
            <directory>./plugins/Passbolt/Folders/tests/TestCase</directory>
            <directory>./plugins/Passbolt/Log/tests/TestCase</directory>
            <directory>./plugins/Passbolt/MultiFactorAuthentication/tests/TestCase</directory>
            <directory>./plugins/Passbolt/MultitenantAdmin/tests/TestCase</directory>
            <directory>./plugins/Passbolt/Reports/tests/TestCase</directory>
            <directory>./plugins/Passbolt/Tags/tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <listeners>
        <listener class="CakephpTestSuiteLight\FixtureInjector">
            <arguments>
                <object class="CakephpTestSuiteLight\FixtureManager" />
            </arguments>
        </listener>
    </listeners>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <directory suffix=".php">./plugins/Passbolt/AccountSettings/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/AuditLog/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/CloudSubscription/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/EmailDigest/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/EmailNotificationSettings/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/Folders/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/Log/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/MultiFactorAuthentication/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/MultitenantAdmin/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/Reports/src/</directory>
            <directory suffix=".php">./plugins/Passbolt/Tags/src/</directory>
        </whitelist>
    </filter>
</phpunit>
